{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Booking{% endblock %}
{% block navbar %}
	{% include "../navbar.html" %}	  
{% endblock %}

{% block content %}
<div>
<img class="wave" src="../media/wave.png">
	<div class="container">
		<div class="img">
			<img src="../media/bg.svg">
		</div>
		<div class="login-content">
<form method ="post" class="form-css">
    <img src="../media/profile.jpg">
    <h2 class="title" style="color: hsl(251, 67%, 18%);">Book</h2>
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn colour">Book</button>
</form>
</div>

{% endblock %}

