{% load static %}
{% block navbar %}
{% include "navbar.html" %}	  
{% endblock %}

<head>
  
    <meta charset="utf-8">
	
    <title>Home</title>
	
		<link rel="stylesheet" href="{% static 'style.css' %} ">
		
</head>
<body>
	<div class = "row">
	
		<div class = "column">
			<img class = "img" src = "../media/Capture1.png" height = "100" width = "100">
		</div>
		
		<div class = "column">
			<img class = "img" src = "../media/Capture2.png" height = "100" width = "100">
		</div>
		
		<div class = "column">
			<img  class = "img"  src = "../media/Capture3.png" height = "100" width = "100">
		</div>
		
		<div class = "column">
			<img class = "img"  src = "../media/Capture4.png" height = "100" width = "100">
		</div>
		
	</div>
</body>

{% block footer %}
	{% include "footer.html" %}	  
{% endblock %}