{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include "navbar.html" %}	  
{% endblock %}

{% block content %}
<div>
	<!--category section-->   
	<div class="category">
			<h3 class="category_text" data-aos="fade-up" style="color: #1a0f4d"><b>All In One</b></h3><br>
			<div class="row">
				<div class="col-sm-3" data-aos="fade-up">
					<div class="image__wrapper">
						<img src="../media/car.jpeg">
						<div class="image-text">
							<h5>CARS</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3" data-aos="fade-down">
					<div class="image__wrapper">
						<img src="../media/bike.jpeg">
						<div class="image-text">
							<h5>MOTORCYCLES</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3" data-aos="fade-up">
					<div class="image__wrapper">
						<img src="../media/truck.jpeg">
						<div class="image-text">
							<h5>TRUCKS</h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3" data-aos="fade-down">
					<div class="image__wrapper">
						<img src="../media/bus.jpeg">
						<div class="image-text">
							<h5>BUSES</h5>
						</div>
					</div>
				</div>                     
			</div>
	</div>
	<br><br>

<div class="category" id="about">
	<h3 class="category_text" data-aos="fade-up" style="color: #1a0f4d"><b>About</b></h3>
	<br>
	<p data-aos="fade-left" style="background-color: #38d39f; color:white; padding: 20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo amet maiores praesentium tenetur ut, quisquam architecto molestias perferendis nemo accusamus id modi vel quaerat accusantium nulla in error, excepturi, fugit fuga impedit ea optio voluptas? Rerum modi molestiae a? Explicabo nam quaerat consequuntur voluptates sunt reprehenderit asperiores tempore laudantium similique perferendis! Itaque, eos ipsum! Repellat molestiae commodi aut illo sequi! Culpa, explicabo dolorum animi veritatis, ipsum dicta deserunt fuga molestias, non dolores sit praesentium ea. Consequatur placeat expedita, fugiat assumenda ea voluptas? Quae ipsa praesentium harum sit fuga, nostrum nemo modi laudantium sint soluta ducimus, et fugiat non error eaque.</p>
    <br>
</div>
	
<div class = "category">
	<h3 class="category_text" data-aos="fade-up" style="color: #1a0f4d"><b>Key Features</b></h3>
	<br>
		<div class="row">
		  <div class="col-md-3 card-img" data-aos="fade-right"><img src="../media/quickservice.jpeg"></div>
		  <div class="col-md-9 card-text" data-aos="fade-left" style="background-color: #38d39f">
			  <h1>Quick Services</h1>
			  <h3>We know, no one likes waiting around a broken vehicle. A quick service provided by our end.</h3>
			</div>
		</div>
        <br>
		<div class="row">
			<div class="col-md-9 card-text" data-aos="fade-right" style="background-color: #38d39f">
				<h1>Skilled Mechanics</h1>
				<h3>We have collaborated with most efficient mechanics. The adaptability and problem solving skills improves the service.</h3>
			</div>
			<div class="col-md-3 card-img" data-aos="fade-left"><img src="../media/skilledmechanic.jpeg"></div>
		</div>
        <br>
		<div class="row">
			<div class="col-md-3 card-img" data-aos="fade-right"><img src="../media/roadsideassitance.jpeg"></div>
			<div class="col-md-9 card-text" data-aos="fade-left" style="background-color: #38d39f">
				<h1>Road Side Assistance</h1>
				<h3>Your comfort means a lot. So wherever the breakdown happens you just need to pull over and click on <b>Book Service</b></h3>
			</div>
		</div>
        <br>
		<div class="row">
			<div class="col-md-9 card-text" data-aos="fade-right" style="background-color: #38d39f">
				<h1>24/7 Services</h1>
				<h3>No need to be concerned of the hour on the clock. Anytime we are just a click away!</h3>
			</div>
			<div class="col-md-3 card-img" data-aos="fade-left"><img src="../media/24_7.jpeg"></div>
		</div>

</div>
    </div>
	<div class="category" id="FAQ">
		<br>
		<h3 class="category_text" data-aos="fade-up" style="color: #1a0f4d"><b>FAQ</b></h3>
		<br>
		<div class="row">
			<div class="col-sm-6" data-aos="fade-right">
				<div class="card">
				  <div class="card-body" style="background-color: #38d39f; color:white;">
					<h5 class="card-title" style="text-align: left;">Special title treatment</h5>
					<a href="#" class="card-text card-text-success" style="color:black; text-align: left; color:white;"">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia placeat nobis totam praesentium ducimus quis, eos obcaecati explicabo excepturi!</a>
				  </div>
				</div>
			  </div>
			<div class="col-sm-6" data-aos="fade-left">
			  <div class="card">
				<div class="card-body" style="background-color: #38d39f; color:white;">
				  <h5 class="card-title" style="text-align: left;">Special title treatment</h5>
				  <a href="#" class="card-text card-text-success" style="color:black; text-align: left; color:white;"">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia placeat nobis totam praesentium ducimus quis, eos obcaecati explicabo excepturi!</a>
				</div>
			  </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6" data-aos="fade-right">
				<div class="card">
				  <div class="card-body" style="background-color: #38d39f; color:white;">
					<h5 class="card-title" style="text-align: left;">Special title treatment</h5>
					<a href="#" class="card-text card-text-success" style="color:black; text-align: left; color:white;"">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia placeat nobis totam praesentium ducimus quis, eos obcaecati explicabo excepturi!</a>
				  </div>
				</div>
			  </div>
			<div class="col-sm-6" data-aos="fade-left">
			  <div class="card">
				<div class="card-body" style="background-color: #38d39f; color:white;">
				  <h5 class="card-title" style="text-align: left;">Special title treatment</h5>
				  <a href="#" class="card-text card-text-success" style="color:black; text-align: left; color:white;"">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores officia placeat nobis totam praesentium ducimus quis, eos obcaecati explicabo excepturi!</a>
				</div>
			  </div>
			</div>
		</div>
	</div>
	<div class="category" id="support">
		<br>
		<h3 class="category_text" data-aos="fade-up" style="color: #1a0f4d"><b>Support</b></h3>
		<br>
		<p data-aos="fade-left" style="background-color: #38d39f; color:white; padding: 20px; font-size: 20px;"><i class="fa fa-phone"> 0123456789</i><br><i class="fa fa-envelope-open"> support@xyz.in</i></p>
		<br>
	</div>
</div>
{% endblock %}

{% block footer %}
	{% include "footer.html" %}	  
{% endblock %}