{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% include "navbar.html" %}	  
{% endblock %}

{% block content %}
<div>
	<!--category section-->   
	<div class="category">
			<h3 class="category_text"><b>categories</b></h3><br>
			<div class="row">
				<div class="col-sm-3">
					<div class="image__wrapper">
						<img src="../media/profile.jpg">
						<div class="image-text">
							<h5><a href="#">CAR</a></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image__wrapper">
						<img src="../media/profile.jpg">
						<div class="image-text">
							<h5><a href="#">MOTORCYCLE</a></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image__wrapper">
						<img src="../media/profile.jpg">
						<div class="image-text">
							<h5><a href="#">TRUCK</a></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="image__wrapper">
						<img src="../media/profile.jpg">
						<div class="image-text">
							<h5><a href="#">BUS</a></h5>
						</div>
					</div>
				</div>                     
			</div>
		<br><br>
		<a href="#" type="button" class="btn btn-success find_shop text-center">Find Nearby shops</a>
	</div>
	<br><br>
	<br><br>
	
<div class = "category">
	<h3 class="category_text"><b>Key Features</b></h3>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<div class="card-img">
				<img src="../media/quickservice.jpeg">
				<div class="image-text">
					<h5><a href="#">Quick Sevice</a></h5>
				</div>
			</div>
		</div>
		<div class = "col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card-img">
				<img src="../media/skilledmechanic.jpeg">
				<div class="image-text">
					<h5><a href="#">Skilled Mechanics</a></h5>
				</div>
			</div>
		</div>
	</div>

	<br><br><br><br>

	<div class="row">
		<div class="col-sm-4">
			<div class="card-img">
				<img src="../media/roadsideassitance.jpeg">
				<div class="image-text">
					<h5><a href="#">Road Side Assitance</a></h5>
				</div>
			</div>
		</div>
		<div class = "col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card-img">
				<img src="../media/24_7.jpeg">
				<div class="image-text">
					<h5><a href="#"></a>24/7 Serivce</a></h5>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block footer %}
	{% include "footer.html" %}	  
{% endblock %}