<nav>
  <!-- <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </div> -->
  <h1 style="float:left; color: white; padding: 12px; font-size: 30px;">Gaadizo</h1>
  <ul class="nav-links" data-aos="fade-down-right">
      <li><a href = "/" class="active">Home</a></li>
      <li><a href = "{% url 'shops' %}">Nearby Shops</a></li>
      {% if user.is_authenticated %}
      <li><a href = "{% url 'shopregister' %}">Partner with us</a></li>
      <li><a href = "{% url 'myaccount' %}">My Account</a></li>
      <li><a href = "{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href = "{% url 'login' %}">Log In</a></li>
      <li><a href = "{% url 'register' %}">Sign Up</a></li>
      {% endif %}
  </ul>
</nav>