{% extends '../base.html' %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../navbar.html" %}	  
{% endblock %}

{% block content %}
<body>
	<h2 style="text-align: center; padding: 10px;">Login</h2>
	<img class="wave" src="../media/wave.png">
	<div class="container">
		<div class="img">
			<img src="../media/bg.svg">
		</div>
		<div class="login-content">
			<form cform method="POST" enctype="multipart/form-data" class="form-css">
				<img src="../media/avatar.svg">
				<h2 class="title">Welcome</h2>
        {% csrf_token %}
        {{form.as_p}}
              <button type="submit" class="btn btn-primary justify-content-center">Login</button>
            	<a href="{% url 'register' %}" class="dont_acc">Don't have an account ?</a>
            	<input type="submit" class="btn" value="Sign-up">
            </form>
        </div>
    </div>
  </body>
{% endblock %}