{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../navbar.html" %}	  
{% endblock %}

{% block content %}
<body>
	<img class="wave" src="../media/wave.png">
	<div class="container">
		<div class="img">
			<img src="../media/bg.svg">
		</div>
		<div class="login-content">
			<form cform method="POST" enctype="multipart/form-data" class="form-css">
				<img src="../media/profile.jpg">
				<h2 class="title" style="color: hsl(251, 67%, 18%);">Login</h2>
        {% csrf_token %}
        {{form.as_p}}
              <br><button type="submit" class="btn justify-content-center">Login</button><br><br>
			  <p style="color:rgb(90, 86, 86);">Dont have an account?</p>
            	<a href="{% url 'register' %}" type="button" class="btn">Sign-up</a>
            
            </form>
        </div>
    </div>
  </body>
{% endblock %}

