{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../Navbar.html" %}	  
{% endblock %}
{% block content %}
<style>
    table {
        width:100%;
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<body>
    <br>
    <h3 style="color: hsl(251, 67%, 18%);" data-aos="fade-up">MY BOOKINGS</h3>
    <table>
        <tr>
            <th>Booking ID</th>
            <th>Shop Name</th>
            <th>Services</th>
            <th>Time</th>
        </tr>
        {% for b in mybookings%}
        <tr>
            <th>{{b.booking_id}}</th>
            <th>{{b.hired_shop}}</th>
            <th>{{b.services_required}}</th>
            <th>{{b.time}}</th>
        </tr>
        {% endfor %}
    </table>
    <br>
</body>
{% endblock %}