{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}
{% block navbar %}
	{% include "../navbar.html" %}	  
{% endblock %}

{% block content %}
<div>
<img class="wave" src="../media/wave.png">
	<div class="container">
		<div class="img">
			<img src="../media/bg.svg">
		</div>
		<div class="login-content">
<form method ="post" class="form-css">
    <img src="../media/profile.jpg">
    <h2 class="title" style="color: hsl(251, 67%, 18%);">Register</h2>
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% for error in field.errors %}
            <small>{{error}}</small>
            {% endfor %}   
        </p>
    {% endfor %}
    <button type="submit" class="btn colour">Register</button>
</form>
</div>

{% endblock %}

