{% extends "base.html" %}
{% block navbar %}
	{% include "../navbar.html" %}	  
{% endblock %}

{% block content %}
<h2 style="text-align: center; padding: 10px;">Register</h2>
<img class="wave" src="../media/wave.png">
	<div class="container">
		<div class="img">
			<img src="../media/bg.svg">
		</div>
		<div class="login-content">
<form method ="post" class="form-css">
    <img src="../media/avatar.svg">
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
            <small>{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
            <small>{{error}}</small>
            {% endfor %}   
        </p>
    {% endfor %}
    <button type="submit">Register</button>
</form>
{% endblock %}

{% block footer %}
	{% include "../footer.html" %}	  
{% endblock %}